# Start of Selection
# Конфигурация для покрытия кода
[run]
source = code/patients  # Указываем источник кода для анализа покрытия
omit =  # Исключаем следующие файлы из анализа покрытия
    */migrations/*  # Исключаем миграции, так как они не являются частью логики приложения
    */__init__.py  # Исключаем файлы инициализации пакетов
    */tests/*  # Исключаем тесты, так как они не являются частью основного кода
    */venv/*  # Исключаем виртуальные окружения, так как они не относятся к проекту

[report]
exclude_lines =  # Исключаем следующие строки из отчета о покрытии
    pragma: no cover  # Исключаем строки с указанием, что они не должны учитываться в покрытии
    def __str__  # Исключаем методы __str__, так как они часто не содержат логики
    pass  # Исключаем пустые методы, так как они не влияют на покрытие
    raise NotImplementedError  # Исключаем строки с NotImplementedError, так как они не являются завершенной логикой
# End of Selection